<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Botones agregar</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="botonesAgregarUser" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarUsuario">
                    <i class="fas fa-plus"></i> Crear
                </a>
            </div>
        </div>
    </div>
</section>
<section th:fragment="botonesAgregarDep" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarDepartamento">
                    <i class="fas fa-plus"></i> Crear
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
