<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Compartir fichero</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="compartirFichero">
    <div class="modal fade" id="modalCompartir" tabindex="-1" aria-labelledby="modalCompartir" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCompartirLabel">Compartir fichero</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/compartir}" method="POST" class="form-floating was-validated" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" id="fileid" name="fileid">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Compartir</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
