<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Listado Departamentos</title>
</head>

<body>
<section th:fragment="listadoDepartamentos" id="listadoDepartamentos">
    <div class="container mt-5" th:if="${deps != null and !deps.empty}">
        <h2 class="mb-4 text-center">Lista de Departamentos</h2>
        <div class="table-responsive shadow rounded">
            <table class="table table-striped table-hover align-middle text-center">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Organización</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dep : ${deps}">
                    <td th:text="${dep.id}"></td>
                    <td th:text="${dep.nombre}"></td>
                    <td th:text="${dep.organizacion.nombre}"></td>
                    <td>
                        <!--<a class="btn btn-sm btn-primary">Edit</a>-->
                        <button type="button" th:onclick="'avisoBorradoEnCascada('+${dep.id}+')'" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center p-2"
         th:if="${deps == null or deps.empty}">
        <span>Lista de usuarios vacía</span>
    </div>

</section>

</body>
</html>
