<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/plantilla :: head}">
    <title>Inicio</title>
</head>
<body>
<div class="d-flex vh-100">

    <div th:replace="~{fragments :: sidebar (active='departamentos',isAdmin=${isAdmin})}"></div>

    <!-- Contenido principal -->
    <div class="container-fluid overflow-auto">

        <div th:replace="~{fragments::header (title='Departamentos',email=${email})}"></div>

        <section th:replace="~{layout/botonesAgregar :: botonesAgregarDep}"></section>
        <section th:replace="~{layout/agregarDepartamento :: agregarDepartamento}"></section>
        <section th:replace="~{layout/listadoDepartamentos :: listadoDepartamentos}"></section>

        <div id="logoutMessage" class="text-center mt-3"></div>
    </div>
</div>

<script>
    function avisoBorradoEnCascada(id) {
        alert('AVISO: Esta opción borrará todos los usuarios del departamento')
        fetch('/eliminardep?id=' + id)
            .then(response => { window.location.replace('/departamentos')})
    }
</script>
</body>
</html>