<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- Fragmento para importar los titulos de las páginas -->
<head th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<!-- Fragmento para importar bootstrap -->
<div th:fragment="bootstrap">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>

<!-- Fragmento para importar la barra lateral o sidebar -->
<div th:fragment="sidebar (active)" class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Pi Cloud</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/home" class="nav-link" th:classappend="${active == 'home' ? 'active' : 'link-dark'}" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="/users" class="nav-link" th:classappend="${active == 'users' ? 'active' : 'link-dark'}">
                Usuarios
            </a>
        </li>
        <li>
            <a href="/departamentos" class="nav-link" th:classappend="${active == 'departamentos' ? 'active' : 'link-dark'}">
                Departamentos
            </a>
        </li>
    </ul>
</div>

<div th:fragment="header (title)" class="row my-4">
    <div class="col fs-2" th:text="${title}"></div>
    <div class="col d-flex justify-content-end align-items-center">
        <span class="me-3"> <b th:text="${email}">usuario@dominio.com</b></span>
        <form id="logoutForm">
            <button type="submit" class="btn btn-outline-danger">Cerrar sesión</button>
        </form>
    </div>
    <script>
        document.getElementById("logoutForm").addEventListener("submit", async function(e) {
            e.preventDefault();
            const response = await fetch("/api/auth/logout");
            const text = await response.text();
            document.getElementById("logoutMessage").innerHTML = " " + text;
            setTimeout(() => window.location.href = "/login", 1000);
        });
    </script>
</div>


</html>