<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='Home')}"></head>

<body>

<div class="d-flex">

    <div th:replace="~{fragmetns :: sidebar}"></div>

    <!-- Page content-->
    <div class="container-fluid">
        <h1 class="mt-4">Archivos</h1>

        <!-- Ficheros -->
        <div class="d-flex">
            <div>Fichero 1</div>
            <div>Fichero 2</div>
            <div>Fichero 3</div>
        </div>

    </div>



</div>

<div th:replace="~{fragments::bootstrap}"/>

</body>
</html>