<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Home')"></head>

<body>

<div class="d-flex">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Buscar
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Cargar
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Ejemplo
                </a>
            </li>
        </ul>
    </div>


    <!-- Page content-->
    <div class="container-fluid">
        <h1 class="mt-4">Archivos</h1>

        <!-- Ficheros -->
        <div class="d-flex">
            <div>Fichero 1</div>
            <div>Fichero 2</div>
            <div>Fichero 3</div>
        </div>

    </div>



</div>

<div th:replace="fragments::bootstrap"/>

</body>
</html>