<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/plantilla :: head}">
    <title>Inicio</title>
</head>
<body>
<div class="d-flex vh-100">

    <div th:replace="~{fragments :: sidebar (active='users')}"></div>

    <!-- Contenido principal -->
    <div class="container-fluid overflow-auto">

        <div th:replace="~{fragments::header (title='Usuarios',email=${email})}"></div>

        <section th:replace="~{layout/botonesAgregar :: botonesAgregarUser}"></section>
        <section th:replace="~{layout/agregarUsuario :: agregarUsuario}"></section>
        <section th:replace="~{layout/listadoUsuarios :: listadoUsuarios}"></section>

        <div id="logoutMessage" class="text-center mt-3"></div>
    </div>
</div>
</body>
</html>