<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='Usuarios')}"></head>

<body>

<div class="d-flex">

    <div th:replace="~{fragments :: sidebar}"></div>

    <!-- Page content-->
    <div class="container-fluid">
        <h1 class="mt-4">Usuarios</h1>

        <table class="table table-striped my-5">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </table>

    </div>

</div>

<div th:replace="~{fragments::bootstrap}"/>

</body>
</html>